:root {
  --color-blue: #5badf0;
  --color-red: #f05b5b;
  --color-black: #666;
  --color-white: #fff;

  --color-dark: #222;
  --color-light: #aaa;
  --color-slight: #eee;
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--color-black);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

b,
strong {
  color: var(--color-dark);
}

a {
  color: var(--color-blue);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.color-red {
  color: var(--color-red);
}

.main {
  margin: 0 auto;
  max-width: 680px;
  padding: 0 20px;
  position: relative;
}

.nav {
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
}
.nav__item {
  font-size: 0.8rem;
  padding: 8px 12px;
}
.nav__item:hover {
  text-decoration: none;
}
.nav__item--about {
  border-radius: 3px;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.profile {
  text-align: center;
  padding: 50px 0 40px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-slight);
}
.profile__picture {
  background-color: var(--color-slight);
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.profile__name {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-dark);
  margin: 20px 0 10px;
}
.profile__role {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--color-light);
  margin: 0;
}

.loading {
  display: block;
  background: url("/loading.svg") no-repeat center center;
  background-size: contain;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  overflow: hidden;
  color: transparent;
}

.latestposts {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-slight);
}

.postpreview {
  margin-bottom: 20px;
  padding-top: 20px;
}
.postpreview:not(:first-child) {
  border-top: 1px solid var(--color-slight);
}
.postpreview__link {
  color: var(--color-light);
  display: block;
  position: relative;
}
.postpreview__link:hover {
  text-decoration: none;
}
.postpreview__link:hover .postpreview__title {
  color: var(--color-blue);
}
.postpreview__title {
  color: var(--color-dark);
  margin: 0 0 10px;
  font-size: 1.2rem;
}
.postpreview__description {
  color: var(--color-light);
  margin: 0;
}
.postpreview__date {
  display: none;
  font-weight: 300;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 540px) {
  .main {
    padding: 0 40px;
  }
  .profile {
    margin-bottom: 40px;
  }
  .latestposts {
    padding-bottom: 40px;
  }
  .postpreview__date {
    display: block;
  }
  .postpreview__link {
    padding-right: 100px;
  }
}

@media (min-width: 940px) {
  .main {
    margin-top: 70px;
  }
  .nav {
    position: fixed;
    top: 0;
  }
}
